{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<style>
tr:nth-child(even) {
  background-color: #D6EEEE;
}

thead{background-color: gray;}

</style>

<div class="text-center" xmlns="http://www.w3.org/1999/html">

    <p>
        <br>
        Welcome <u><strong>Crawlers</strong></u>
    </p>
        This web application has been developed to scrap video data from <strong style="color:red"> Youtube </strong> website.


    <div class="text-left">

            <table class="table table-hover table-light">
                <thead>
                <tr style="color:white">
                    <th scope="col">#</th>
                    <th scope="col">Features</th>
                </tr>
                </thead>

                <tbody>
                <tr><td>1.</td><td>Data is being stored in MySQL database while crawling.</td></tr>
                <tr><td>2.</td><td>Web App is being hosted on BeanStack Server.</td></tr>
                <tr><td>3.</td><td>Web App is being hosted on AWS Server.</td></tr>
                <tr><td>4.</td><td>Web App is being hosted on Azure Server.</td></tr>
                </tbody>
            </table>

    </div>
    <br><br><br><br>

    When ready data can be scrapped by clicking on the button below.

    <br><br>
     <div class="text-center">
        <form class="dark" action={{url_for("home_page")}} method="POST">
            <button type="submit"  style="background-color:red"><strong>Lets Crawl</strong></button>
        </form>
    </div>
</div>


{% endblock %}